/* You can add global styles to this file, and also import other style files */
// global style

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");

$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;

body {
  font-family: $font-family;
}
.text-main {
  color: $main-color;
}
.text-main-light {
  color: $light-color;
}
.bg-main-light {
  background-color: $light-color;
}
.rating-color {
  color: $rating-color;
}
.font-sm {
  font-size: 11px;
}
.bg-main {
  background-color: $main-color;
}
.main-btn {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 4px 8px;
  &:disabled {
    background-color: #0aad0a77;
    color: #ffffffab;
    cursor: not-allowed;
  }
}

.product{
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 4px;
    box-shadow: $shadow;
}
input{
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 4px;
    box-shadow: $shadow;
    &:focus {
        outline: none;
        box-shadow: $shadow;
    } 
}